<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Welcome to the CRM-Backend API</h1>
            <p>This is a CRM Backend is built with Go. It is the server-side portion of a complete CRM application. Users are able to make HTTP requests to perform CRUD operations. </p>

            <p>CRM-Backend provides an API that includes functionality to read, write, update, and delete content. This application can easily be integrated with any front-end application. All requests are done through HTTP, and requests and responses are in JSON.</p>
        </div>
        <div>
            <h2>Overview</h2>
            <p>The API exposes the following 5 endpoints for use:</p>
            <ul>
                <li>Getting all customers: <strong>/customers</strong> <strong>GET</strong></li>
                <li> Getting a single customer: <strong>/customers/{id}</strong> <strong>GET</strong></li>
                <li>Creating a customer: <strong>/customers</strong> <strong>POST</strong></li>
                <li>Updating a customer: <strong>/customers/{id}</strong> <strong>PUT</strong></li>
                <li>Deleting a customer: <strong>/customers/{id}</strong> <strong>DELETE</strong></li>
            </li>
        </div>
    </div>
</body>
</html>